/******************************************************************

Stylesheet: 1200px以上のモニタで適用

******************************************************************/
.c-txt-lr {
  font-size: 3rem;
}

.c-txt-md {
  font-size: 1.2rem;
  letter-spacing: 4px;
  line-height: 2;
  color: $cBlack;
  font-family: 'Righteous', 'Noto Serif JP', cursive;
}

.c-txt-sm {
  font-size: 1.2rem;
  letter-spacing: 2px;
  line-height: 2;
  color: $cBlack;
}

.c-txt-xs {
  font-size: .7rem;
  letter-spacing: 2px;
  line-height: 2;
  color: $cSubBlack;
}

.pc-container {
  padding: 0 20vw;
}

.view-more {
  margin-top: 5vw;
  font-size: 1.4rem;
}

//#header
.header {
  background-color: #fff;
  height: 110px;

  & .mobile-button {
    display: none;
  }

  & .mobile-container {
    display: inline;
    position: relative;
  }

  & .pc-container {
    display: block;
    padding: 4vw 10vw 0 0;
  }

  & .pc-header {
    &__list {
      display: flex;
      justify-content: flex-end;
    }

    &__item {
      font-size: 1.2rem;
      padding-left: 5vw;
    }
  }
}

//#top 
.p-top {
  & .swiper-container {
    height: 80vh;
  }

  & .slide-mask {
    & .border.top {
      display: none;
    }

    & .border.left {
      top: -20px;
    }

    & .border.right {
      top: -20px;
    }
  }

  &__logo {
    & img {
      width: 30%;
    }
  }
}

//#about 
.p-about {
  padding: 5vw 0 20vw 0;

  &__img {
    & img {
      height: 400px;
    }
  }

  &__desc {
    bottom: -19vw;
    width: 46%;
    padding: 2vw;

    &__text {
      font-size: 1rem;

      & p {
        margin-bottom: 3vw;
      }
    }

    &__subtitle {
      font-size: 1.3rem;
      margin-bottom: 4vw;
      font-weight: bold;
    }

    &__title {
      font-size: 1.6rem;
    }
  }
}

//#concept
.p-concept {
  height: 88px;

  &__img {
    top: -13vw;
    width: 30vw;
  }

  &__title {
    top: 23vw;

    & p {
      font-size: 6rem;
    }
  }

  & .bg-line {
    height: 540vh;
  }
}

//#story 
.p-story {
  margin-top: 35vw;
  padding-bottom: 5vw;
  font-size: 1.4rem;

  &__title {
    font-size: 3rem;
    margin: 10vw 0 5vw 0;
  }

  &__img {
    box-shadow: none;

    & img {
      width: 58%;
    }
  }
}

//#menu 
.p-menu {
  margin-bottom: 20vw;

  &__img {
    margin: -5vw -6vw 0 -6vw;
  }

  &__title {
    margin: 10vw 0 15vw 0;
  }

  &__desc {
    padding: 3vw;
    bottom: -117%;

    &::before {
      top: 200px;
      left: -20vw;
    }

    &::after {
      top: 40px;
      left: -19vw;
    }
  }
}

//#information 
.p-info {
  margin-bottom: 55vw;

  &__img-top {
    margin: 20vw -6vw 13vw -6vw;
  }

  &__img {
    margin: 10vw -6vw 0 -6vw;
  }

  &__desc {
    padding: 3vw;
    bottom: -40%;

    &::before {
      left: 74.1vw;
    }
  }

  &__list {
    font-size: .9rem;

    & p {
      margin: 0 0 1.5vw 0;
    }
  }
}

//#news
.p-news {
  padding: 0 0 10vw 0;
}

//.p-footer 
.p-footer {
  padding: 8vw 0;

  & .c-logo {
    & img {
      width: 20%;
      height: 20%;
    }
  }

  &__sns {
    margin-bottom: 7vw;
  }
}

//* * * * * * menu-page * * * * * * *
.superwrapper-menu {

  .tab-panel {
    font-size: 1.4rem;
  }

  .c-txt-xs {
    font-size: 1.3rem;
    text-align: center;
  }
}

//* * * * * * news-page * * * * * * *
.c-news {
  padding-top: 15vw;

  &__title {
    margin-bottom: 5vw !important;
  }

  &__list {
    font-size: 1.5rem;

    & a {
      padding: 5vw 0 5vw 5vw;
    }
  }
}

//* * * * * * news-sl-page * * * * * * *
.c-news-sl {
  & .c-container {
    padding: 0 12vw;
  }

  &__list {
    padding-top: 6vw;
  }

  &__contents {
    padding: 8vw 0;
  }
}