/******************************************************************

Stylesheet: 600px以上のモニタで適用

******************************************************************/
.c-txt-lr {
  font-size: 1.8rem;
  letter-spacing: 5px;
  line-height: 2;
  color: $cBlack;
  font-family: "Righteous", "Noto Serif JP", cursive;
}

.c-txt-md {
  font-size: 1.2rem;
  letter-spacing: 4px;
  line-height: 2;
  color: $cBlack;
  font-family: "Righteous", "Noto Serif JP", cursive;
}

.c-txt-sm {
  font-size: 1rem;
  letter-spacing: 2px;
  line-height: 2;
  color: $cBlack;
}

.c-txt-xs {
  font-size: 0.7rem;
  letter-spacing: 2px;
  line-height: 2;
  color: $cSubBlack;
}

.c-container {
  padding: 0 14vw;
}

.header {
  .sp-navbtn {
    display: none;
  }

  & .logo {
    margin-left: 10vw;
  }
}

.scrolldown {
  bottom: -54px;
  right: 35px;
  color: $cBlack;

  &::before {
    background-color: $cGray;
  }

  &::after {
    background-color: $cBlack;
  }
}

//#about
.p-about {
  position: relative;
  padding: 15vw 0 25vw 0;

  &__img {
    top: -3vw;
    height: 50vh;

    & img {
      height: auto;
    }
  }

  &__desc {
    position: absolute;
    bottom: -27vw;
    right: 7.8vw;
    background-color: #fff;
    padding: 4vw;
    z-index: 1000;

    &__title {
      margin-top: 5vw;
    }
  }
}

//#concept
.p-concept {
  &__img {
    top: 17vw;
    left: 9vw;
    width: 45%;
  }

  &__title {
    top: 100vw;

    & p {
      font-size: 4rem;
    }
  }

  & .bg-line {
    height: 680vw;
    right: 60px;
  }
}

//#story
.p-story {
  margin-top: 55vw;
  font-size: 1.2rem;

  &__photo02 {
    top: -10vw;
  }

  &__img {
    margin-top: 15vw;
  }
}

//#menu
.p-menu {
  padding: 0 0 10vw 0;
  margin-bottom: 30vw;

  &__img {
    margin: -28vw -6vw 0 -6vw;

    & img {
      height: 400px;
    }
  }

  &__desc {
    right: 9vw;
    padding: 6vw;

    &::after {
      top: -6px;
      left: 73vw;
      height: 120px;
    }

    &::before {
      top: 120px;
      left: 73vw;
      height: 120px;
    }
  }
}

//#info
.p-info {
  padding: 5vw 0;
  margin-bottom: 60vw;

  & img {
    height: 400px;
  }

  &__desc {
    left: 9vw;
    bottom: -44%;
    padding: 6vw;
    width: 57%;

    &::after {
      top: -6px;
      left: 72vw;
      height: 120px;
    }

    &::before {
      top: 120px;
      left: 74.3vw;
      height: 120px;
    }
  }

  &__img-top {
    margin: 30vw -6vw 30vw -6vw;

    & img {
      height: 300px;
    }
  }
}

//footer
.p-footer {
  & .c-logo {
    & img {
      width: 26%;
    }
  }
}

//news
.p-news {
  padding: 40vw 0 10vw 0;
}

//* * * * * * menu-page * * * * * * *
.superwrapper-menu {
  & .c-top {
    &__tit {
      padding: 0 0 5vw 0;
    }

    &__img {
      height: 200px;
    }
  }

  & .c-menu {
    padding: 10vw 0;
  }

  & .panel-group {
    padding: 5vw 0;
  }
}

//* * * * * * news-page * * * * * * *
.c-news {
  padding-top: 5vw;

  &__link {
    padding: 4vw 0;
  }
}

//* * * * * * news-sl-page * * * * * * *
.c-news-sl {
  & .c-container {
    padding: 0 11vw;
  }
}