//* * * * * * setting * * * * * * * 
body {
  font-family: 'Righteous', 'Noto Serif JP', cursive;
  text-transform: uppercase;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  color: $cBlack;
}

a:hover {
  cursor: pointer;
}

.c-container {
  padding: 0 10vw;
}

.p-superwrapper {
  overflow: hidden;
  text-transform: uppercase;
}

.c-txt-lr {
  font-size: 1.8rem;
  letter-spacing: 5px;
  line-height: 2;
  color: $cBlack;
  font-family: 'Righteous', 'Noto Serif JP', cursive;
}

.c-txt-md {
  font-size: 1.2rem;
  letter-spacing: 4px;
  line-height: 2;
  color: $cBlack;
  font-family: 'Righteous', 'Noto Serif JP', cursive;

}

.c-txt-sm {
  font-size: .9rem;
  letter-spacing: 2px;
  line-height: 2;
  color: $cBlack;
}

.c-txt-xs {
  font-size: .7rem;
  letter-spacing: 2px;
  line-height: 2;
  color: $cSubBlack;
}

.page-link {
  font-weight: bold;
  font-size: .9rem;
  color: rgb(66, 66, 66);
}

.c-img {
  margin: 0 -5vw;
  height: 55vh;
}

.c-title {
  & .txt {
    position: relative;
    padding-left: 12vw;

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      content: '';
      display: inline-block;
      height: 1px;
      width: 8vw;
      background-color: $cGray;
    }
  }
}

.c-txtarea {
  position: absolute;
  top: 60%;
  left: 0;
  margin: 0 5vw;
  padding: 5vw;
  padding-bottom: 8vw;
  background-color: rgb(248, 245, 245);
  border: 1px solid rgb(216, 216, 216);
  box-shadow: 3px 3px 3px rgb(235, 235, 235);

  & .ja {
    letter-spacing: 3px;
    line-height: 2.2;
    color: $cSubBlack;
    font-weight: 100;
    font-size: .9rem;
    margin-bottom: 4vw;
  }

}

.c-txt-vertical {
  position: absolute;
  top: 40%;
  left: 5%;
  color: #a7816d;
  writing-mode: vertical-lr;
  font-size: .5rem;
  letter-spacing: 2px;
}

.c-txt02 {
  font-size: 1.1rem;
  margin-bottom: 5vw;
}

.view-more {
  margin-top: 10vw;
  text-align: right;
  padding-left: 3vw;
  padding-right: 8vw;
  padding-bottom: 1.5vw;
  letter-spacing: 3px;

  & a {
    color: $cBlack;

    & span {
      border-bottom: 1px solid rgb(223, 223, 223);
    }
  }
}

.more-link {
  color: $cSubBlack;
}

.icon-tel {
  display: inline-block;
  position: absolute;
  top: 4px;
  right: 0;
  background-image: url(../images/common/icon-tel.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 12px;
  width: 12px;
}

.icon-net {
  display: inline-block;
  position: absolute;
  top: 4px;
  right: 0;
  background-image: url(../images/common/icon-link-1-black.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 13px;
  width: 13px;
}

.icon-map {
  position: relative;

  &::before {
    content: '';
    display: block;
    background-image: url(../images/common/icon-map.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 17px;
    width: 17px;
  }

}

.icon-insta {
  position: relative;
  padding-left: 10vw;
  color: $cBlack;
  border-bottom: 1px solid $cGray;
  padding-bottom: 5px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/common/icon-insta-gr.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 20px;
    width: 20px;
  }
}

.bg-line {
  position: absolute;
  top: 0;
  right: 0;
  height: 250vh;
  width: 50%;
  background-color: rgb(243, 241, 241);
  z-index: -2;
}

//#header
.header {
  width: 100%;

  & .logo__img {
    position: absolute;
    top: 0;
    left: 0;

    & a {
      height: 100%;
    }
  }

  & .logo {
    background-image: url(../images/common/riv_logo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 5vw 0 0 5vw;
    height: 44px;
    width: 115px;
  }

  // ***スクロールでロゴの色を変えるとき
  // & .menu-open {
  //   &.logo {
  //     transition: all .3s;
  //     background-image: url(../images/home/riv_logo.png) !important;
  //     background-position: center;
  //     background-size: contain;
  //     background-repeat: no-repeat;
  //     margin: 5vw 0 0 5vw;
  //     height: 44px;
  //     width: 137px;
  //   }
  // }

  // & .inview {
  //   &.logo {
  //     transition: all .3s;
  //     background-image: url(../images/home/riv_logo-white.png);
  //     background-position: center;
  //     background-size: contain;
  //     background-repeat: no-repeat;
  //     margin: 5vw 0 0 5vw;
  //     height: 44px;
  //     width: 137px;
  //   }
  // }

  & .logo-gr {
    overflow: hidden;
  }

  & .pc-container {
    display: none;
  }

  & .sp-navbtn {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: $cWhite;
    opacity: .7;
    height: 6.5vh;
    width: 100%;
    z-index: 2000;
    transition: all.3s;

    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 77vw;
      margin: auto;

      & a {
        position: relative;
        color: $cBlack;
        font-size: 14px;
        letter-spacing: 1px;
        display: block;
        padding-right: 18px;
      }

      & .tel {
        letter-spacing: 2px;
      }

      & a:hover,
      a:active {
        text-decoration: underline;
      }
    }
  }

  & .hide {
    &.sp-navbtn {
      visibility: hidden;
      transform: translateY(50px);
      transition: all 0.4s;
    }
  }
}

//#top 
.p-top {
  position: relative;

  &__logo {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    margin: auto;

    & img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      object-fit: contain;
      width: 250px;

      @media (min-width: 600px) {
        width: 50%;
      }
    }
  }

  & .slide-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: solid #fff 0;
    z-index: 3000;

    @media (max-width: 750px) {
      top: -95px;
      left: -95px;
      right: -95px;
      bottom: 0;
    }

    & .border {
      position: absolute;
      background-color: #fff;
    }

    & .border.top {
      width: 100%;
      height: 110px;
      top: 0;
      left: 0;
    }

    & .border.left {
      width: 110px;
      height: 120%;
      top: 0;
      left: 0;
    }

    & .border.right {
      width: 110px;
      height: 120%;
      top: 0;
      right: 0;
    }

    & .border.bottom {
      width: 100%;
      bottom: 0;
      left: 0;
    }
  }

  & .swiper-container {
    @media (max-width:959px) {
      & .view-pc {
        display: none;
      }
    }

    @media (min-width:960px) {
      & .view-sp {
        display: none;
      }
    }
  }
}

//about
.p-about {
  padding: 15vw 0 5vw 0;

  &__title {
    text-align: center;
    margin: 10vw;
  }

  &__img {
    margin: 0 -6vw;
    height: 200px;
  }

  &__desc {
    text-align: center;

    &__title {
      margin: 10vw 0 5vw 0;
      color: rgb(192, 192, 192);
      letter-spacing: 4px;
    }

    &__subtitle {
      margin: 5vw 0;
      @extend .c-txt-md;
    }

    &__text {
      @extend .c-txt-sm;

      & p {
        margin-bottom: 5vw;
      }
    }
  }

}

//concept
.p-concept {
  position: relative;
  height: 400px;
  margin: 20vw 0;

  & .bg-line {
    top: 10%;
  }

  &__img {
    position: absolute;
    top: 14vw;
    left: 4vw;
    width: 55%;
    z-index: 1000;
    margin-left: 20px;

    &__photo {
      width: 100%;
    }

    &__shadow {
      position: absolute;
      top: 0;
      left: 0;
      height: auto;
      width: 130%;
      z-index: -1;
      opacity: .6;
    }
  }

  &__title {
    position: absolute;
    top: 80%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    z-index: 2000;

    & p {
      font-size: 2.8rem;
      letter-spacing: 10px;
      color: rgb(175, 142, 142);
      opacity: .7;
    }
  }
}

//#story
.p-story {
  padding-bottom: 20vw;
  text-align: center;

  &__title {
    margin: 10vw 0;
  }

  &__text {
    & p {
      margin-bottom: 5vw;
    }
  }

  &__sub-img {
    position: relative;
    height: 400px;
    margin-top: 20vw;
  }

  &__photo01 {
    position: absolute;
    top: 30%;
    left: 0;
    width: 50%;

    & img {
      box-shadow: 20px 50px 45px rgb(211, 211, 211)
    }
  }

  &__photo02 {
    position: absolute;
    top: 0;
    right: 0;
    width: 48%;
    box-shadow: 20px 50px 45px rgb(211, 211, 211);
  }

  &__img {
    box-shadow: 20px 50px 45px rgb(163, 163, 163);
  }
}

//#menu
.p-menu {
  // position: relative;
  padding-bottom: 36vw;
  margin-bottom: 50vw;

  &__title {
    text-align: center;
    margin: 10vw;
  }

  &__wrap {
    position: relative;
    height: 50vh;
  }

  &__img {
    margin: 0 -6vw;

    & img {
      height: 230px;
    }
  }

  &__desc {
    position: absolute;
    bottom: -66%;
    right: -6vw;
    background-color: rgb(243, 240, 240);
    width: 94%;
    box-shadow: 20px 50px 45px rgb(211, 211, 211);
    padding: 9vw;
    max-width: 600px;
    z-index: 1000;

    &::before {
      content: "MENU";
      position: absolute;
      top: 100px;
      left: -12vw;
      font-size: 12px;
      letter-spacing: 3px;
      writing-mode: vertical-rl;
      color: $cBlack;

      @media (min-width:600px) {
        position: absolute;
        left: 50vw;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: -12vw;
      width: auto;
      height: 90px;
      margin-left: 8px;
      border-left: 1px solid rgba(0, 0, 0, 0.8);

      @media (min-width:600px) {
        position: absolute;
        left: 50vw;
      }
    }

    &-title {
      margin-bottom: 5vw;
    }

    &-text {
      margin-bottom: 5vw;
      font-size: .8rem;
    }

    & .view-more {
      margin-top: 0;
      padding: 0;
    }
  }
}

//#news
.p-news {
  position: relative;
  padding: 150vw 0 30vw 0;

  &__img-top {
    margin: 10vw -6vw;

    & img {
      height: 220px;
    }
  }

  &__tit {
    margin-bottom: 10vw;
    text-align: center;

    & p {
      margin-bottom: -20px;
    }
  }

  &__txt {
    margin: 5vw 0;
  }

  &__date {
    color: $cGray;
  }

  &__link {
    display: block;
    padding: 4vw 0;

    & p {
      margin-top: 2vw;
    }
  }

  &__item {
    border-bottom: 1px solid rgb(235, 235, 235);

    &:first-child {
      border-top: 1px solid rgb(235, 235, 235);
    }
  }

  & .view-more {
    padding-right: 0;
  }

}

//#information
.p-info {
  position: relative;
  padding: 15vw 0;
  margin-bottom: 20vw;

  &__title {
    text-align: center;
    margin: 10vw 0 0 0;
  }

  &__img-top {
    margin: 30vw -6vw 40vw -6vw;

    & img {
      height: 200px;
    }
  }

  &__img {
    position: relative;
    margin: 15vw -6vw 0 -6vw;

    & img {
      height: 230px;
    }
  }

  &__desc {
    position: absolute;
    bottom: -53%;
    left: 4vw;
    background-color: rgb(243, 240, 240);
    width: 78%;
    box-shadow: 20px 50px 45px rgb(211, 211, 211);
    padding: 9vw;
    max-width: 600px;
    z-index: 1000;

    &::before {
      content: "information";
      position: absolute;
      top: 100px;
      right: -11vw;
      font-size: 12px;
      letter-spacing: 3px;
      writing-mode: vertical-rl;
      color: $cBlack;

      @media (min-width:600px) {
        position: absolute;
        right: 54.3vw;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: -9vw;
      width: auto;
      height: 90px;
      margin-left: 8px;
      border-left: 1px solid rgba(0, 0, 0, 0.8);

      @media (min-width:600px) {
        position: absolute;
        right: 55vw;
      }
    }

    &-title {
      margin-bottom: 5vw;
    }

    &-text {
      margin-bottom: 5vw;
      font-size: .8rem;
    }

    & .view-more {
      margin-top: 4vw;
      padding: 0;
      text-align: left;

      & a {
        position: relative;
        padding-left: 20px;

        &::before {
          position: absolute;
          top: 3px;
          left: 0;
          content: '';
          display: inline-block;
          background-image: url(../images/common/icon-map.png);
          background-size: contain;
          background-repeat: no-repeat;
          height: 16px;
          width: 16px;
        }
      }
    }
  }

  &__list {
    font-size: .75rem;
    font-family: 'Noto Serif JP';

    & p {
      margin: 1vw 0 2.5vw 0;
      letter-spacing: 1px;
    }

    & span {
      font-size: 8;
    }
  }
}

//#footer 
.p-footer {
  padding: 10vw 0;
  background-color: rgb(238, 231, 231);

  &__nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__item {
      width: 50%;
    }
  }

  & .c-logo {
    text-align: center;

    & img {
      width: 35%;
      height: 35%;
      object-fit: contain;
    }
  }

  &__sns {
    display: flex;
    justify-content: center;
    margin-bottom: 10vw;
  }

  & .sns-insta {
    & .sns-link {
      position: relative;
      display: block;
      float: left;
      width: 44px;
      height: 44px;
      margin: 0 5px;
      background-color: #fff;
      border-radius: 22px;
      box-shadow: 0 12px 16px rgb(182, 182, 182);
      transition: box-shadow 1s;

      & i {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        background-image: url(../images/common/icon-insta-gr.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: 22px;
        width: 22px;
      }
    }

  }

  & .sns-fb {
    & .sns-link {
      position: relative;
      display: block;
      float: left;
      width: 44px;
      height: 44px;
      margin: 0 5px;
      background-color: #fff;
      border-radius: 22px;
      box-shadow: 0 12px 16px rgb(182, 182, 182);
      transition: box-shadow 1s;

      & i {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        background-image: url(../images/common/facebook-ico.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: 22px;
        width: 22px;
      }
    }

  }

  & .copyright {
    text-align: center;
    margin-top: 5vw;
    font-size: .8rem;
  }
}

//* * * * * * menu-page * * * * * * * 
.superwrapper-menu {

  .c-top {
    margin-top: 30vw;

    &__tit {
      padding: 0 0 12vw 0;
      text-align: center;
    }

    & p {
      margin-top: -10px;
    }
  }

  .c-menu {
    padding: 20vw 0;
  }


}

//* * * * * * news-page * * * * * * * 
.c-news {
  padding-top: 40vw;

  &__link {
    display: block;
    padding: 6vw 0;

    & p {
      margin-top: 2vw;
    }
  }

  &__item {
    border-bottom: 1px solid rgb(235, 235, 235);

    &:first-child {
      border-top: 1px solid rgb(235, 235, 235);
    }
  }

  &__date {
    color: $cGray;
  }

  .page-numbers {
    margin: 12vw 0;
  }

  .page-numbers:not(.next):not(.prev) {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $cBlack;

    & .current {
      border: 1px solid rgba(0, 0, 0, 0);
      background: #dffde2 !important;
    }

    & .page-numbers:not(.next):not(.prev) {
      width: 10vw;
      height: 10vw;
      border-radius: 100%;
      border: 1px solid #C4CCD1;
      background: #fff;
      margin: 0 1.3vw;
    }

    & .next {
      position: relative;
      // position: absolute;
      // right: 0;
      padding-right: 14px;
      padding-left: 20px;

      &::after {
        transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
        content: "";
        position: absolute;
        top: 0;
        right: -20px;
        background-image: url(../images/common/arrow.png);
        background-position: right center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 20px;
        height: 20px;
        margin-left: 8px;
      }
    }

    @media (max-width:767px) {
      & .next {
        display: none;
      }
    }

    @media (min-width:768px) {
      & .page-numbers:not(.next):not(.prev) {
        width: 45px;
        height: 45px;
      }

      & .next {
        top: 0;
      }
    }
  }

  .c-news__contents {
    line-height: 2;
    font-size: .8rem;
  }

  .c-news__title {
    text-align: center;
    margin-bottom: 10vw;
  }

  .c-news__block {
    padding: 8vw 0;
  }
}

//* * * * * * news-single-page * * * * * * * 
.c-news-sl {
  padding-top: 100px;

  & .c-container {
    padding: 0 5vw;
  }

  &__date {
    color: $cGray;
  }

  &__list {
    padding: 15vw 0 0 0;
  }

  &__contents {
    padding: 10vw 0;
    line-height: 2;
  }

  &__link {
    margin: 0 0 10vw 0;

    & a {
      border-bottom: 1px solid rgb(114, 114, 114);
    }
  }
}