// mobile-menu-section
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(240, 243, 247, 0.8);
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: all 0.5s;

  &__nav {
    display: block;
    height: 100%;
    width: 65%;
    background-color: #fff;
  }

  &__list {
    width: 100%;
    font-size: 0.9em;
    text-align: left;
    list-style: none;
    padding-left: 35px;
    padding-top: 170px;
  }

  &__item {
    opacity: 0;
    margin-bottom: 35px;

    & a {
      color: $cSubBlack;
    }
  }

  .reserve-btn-wrap {
    padding: 0 10px 0 35px;

    & h4 {
      font-size: 12px;
      margin-bottom: 10px;
    }

    .reserve-btn {
      border: 1px solid $cBlack;
      display: inline-block;
      margin-bottom: 25px;
      width: 172px;

      & span {
        position: relative;
        display: block;
        text-align: center;
        padding: 10px 20px 10px 10px;
        font-size: 12px;
      }
    }

    .reserve-btn-net {
      & span {
        position: relative;
        letter-spacing: 2px;

        &::after {
          content: '';
          display: inline-block;
          position: absolute;
          top: 12px;
          right: 5px;
          height: 12px;
          width: 12px;
          background-image: url(../images/common/icon-link-1-black.png);
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
    }

    .reserve-btn-tel {
      & span {
        letter-spacing: 4px;

        &::after {
          content: '';
          display: inline-block;
          position: absolute;
          top: 13px;
          right: 10px;
          height: 12px;
          width: 12px;
          background-image: url(../images/common/icon-tel.png);
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
    }
  }

  @media (min-width:600px) {
    .reserve-btn-wrap {
      padding-left: 10vw;

      h4 {
        font-size: 18px;
      }

      .reserve-btn {
        width: 240px;

        & span {
          padding: 15px 30px 15px 20px;
          font-size: 16px;

          &::after {
            top: 16px;
            right: 12px;
            width: 18px;
            height: 18px;
          }
        }
      }
    }

    &__list {
      padding-left: 10vw;
      font-size: 1.2rem;
    }

    &__item {
      margin-bottom: 55px;
    }
  }
}

// モバイルボタン
.mobile-container {
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 80px;
  z-index: 9000;


  .mobile-button {
    position: fixed;
    top: 20px;
    right: 10px;
    z-index: 9000;
  }

  @media (min-width: 600px) {
    .mobile-button {
      top: 40px;
      right: 40px;
      z-index: 9000;
    }
  }

  .mobile-menu__btn {
    background-color: unset;
    border: none;
    outline: none !important;
    cursor: pointer;
    display: block;


    &>span {
      background-color: $cBlack;
      width: 25px;
      height: 2px;
      display: block;
      margin-bottom: 7px;
      transition: transform 0.7s;

      &:nth-child(2) {
        width: 15px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    @media (min-width:600px) {
      &>span {
        background-color: $cBlack;
        width: 40px;
        height: 2px;
        display: block;
        margin-bottom: 7px;
        transition: transform 0.7s;

        &:nth-child(2) {
          width: 25px;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &.inview {
      & span {
        background-color: $cBlack;
      }
    }
  }
}

// メニューオープン
.menu-open {
  &.mobile-menu {
    z-index: 4000;
    transition: all 0.4s;
    transform: none;

    & nav {
      & li {
        opacity: 1;
        transition: 0.1s;

        @for $i from 1 through 10 {
          &:nth-child(#{$i}) {
            transition-delay: $i * 0.03s;
          }
        }
      }
    }
  }

  .mobile-menu__btn {
    &>span {
      background-color: $cSubBlack !important;

      &:nth-child(1) {
        transition-delay: 70ms;
        transform: translateY(10px) rotate(135deg);
      }

      &:nth-child(2) {
        transition-delay: 140ms;
        transform: scaleX(0);
      }

      &:nth-child(3) {
        transition-delay: 140ms;
        transform: translateY(-8px) rotate(-135deg);
      }
    }
  }
}